body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* Хедер */
.header {
  width: 1600px;
  height: 80px;
  background: #ffffff;
}
.header-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;

}
.header-logo-web {
  color: #2196f3;
}
.header-nav {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

/* ----------FOOTER-------- */
.footer-logo-web {
  color: #2196f3;
}
.footer-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}